body {
  background-color: #212529;
}

* {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 22px;
}

.description {
  text-align: center;
  font-size: 45px;
  color: #c7850f;
}

.image {
  width: 30%;
}
